header {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-items: center;
	text-align: center;
	padding: 0 auto;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

h1 {
	padding: 5px 0;
	font-family: "Inter";
	font-size: 2rem;
	user-select: none;
}

button {
	border: none;
	cursor: pointer;
	user-select: none;
}

#change-lang {
	width: 30px;
	height: 30px;
	background: none;
	margin-left: 10px;
}

#color-mode {
	width: 35px;
	height: 35px;
	background: none;
	margin-right: 10px;
}
