#keyboard {
	justify-content: center;
	justify-items: center;
	align-items: center;
	margin-top: 30px;
	height: 200px;
}

.keyboard-line {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 0 auto 8px;
	touch-action: manipulation;
}

.key {
	min-width: 22px;
	min-height: 44px;
	padding: 0;
	margin: 2.5px;
	border-radius: 5px;
	font-weight: 700;
	font-family: "Inter";
	text-transform: uppercase;
	user-select: none;
	background-color: #a3a3a3;
}

.key.contains {
	background-color: #c8b653;
}

.key.correct {
	background-color: #6ca965;
}

.key.wrong {
	background-color: #525252;
}
