@import url("./darkmode.css");
@import url("./header.css");
@import url("./words.css");
@import url("./keyboard.css");
@import url("./share.css");
@import url("./incorrect.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	display: flex;
	justify-content: center;
	justify-items: center;
}

#app {
	height: calc(100vh - 3rem);
	width: 480px;
}

svg {
	pointer-events: none;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
}
